@if (Number < 18.6)
{ 
    <h4>Below ⚠️</h4>
}
else if (Number >= 18.6 && Number <= 24.9)
{ 
    <h4>Ideal ✅</h4>
}
else if (Number >= 24.9)
{ 
    <h4>Overweight 🔴</h4>
}

@code { 
    [Parameter] [EditorRequired] public double Number { get; set; }
}