/* Listas */
.list-unstyled[b-o43s3trfbh] {
    list-style: none;
}

.list-item[b-o43s3trfbh] {
    width: 100%;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
}

.list-item-image[b-o43s3trfbh] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-image img[b-o43s3trfbh] {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.list-item-description[b-o43s3trfbh] {
    text-align: left;
}

.list-item-description-title[b-o43s3trfbh] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px 0 16px;
}

.list-item-description-title h4[b-o43s3trfbh] {
    margin: 0;
}

.list-item-description-text[b-o43s3trfbh] {
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #E8E8E8;
}