@page "/"

<PageTitle>IMC Calculator</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="imgs/icon-no-bg.png" alt="IMC calculator"/>
        <Calculator/>
    </Slide>
    <Slide Id="history">
        <History/>
    </Slide>
    <Slide Id="about">
        <h1>About</h1>
    </Slide>
</div>


